<div class="header">

		<div class="header_contacts">
			<div class="header-tel">(812) 324 25 87</div>
			<div class="header-email"><a href="mailto:office@scaegroup.com">office@scaegroup.com</a></div>
		</div>
		
</div>
<div class="main_menu">
	<ul>	
		
		<li id="m_news"><%= nav_link "Главная", root_path %></li>
		<li id="m_about"><%= nav_link "О нас", about_path %></li>
		<li id="m_activities"><%= link_to "Направления деятельности", activities_path, :class => ('active' if controller?("activities")) %></li>
		<li id="m_projects"><%= link_to "Проекты", projects_path, :class => ('active' if controller?("projects")) %></li>
		<li id="m_cooperation"><%= nav_link "Сотрудничество", cooperation_path %></li>
		<li id="m_jobs"><%= nav_link "Вакансии", vacancies_path %></li>
		<li id="m_contacts"><%= nav_link "Контакты", contacts_path %></li>
	</ul>
</div>
<br>